/SolitaireUndo/Assembly-CSharp-Editor.csproj
/SolitaireUndo/Assembly-CSharp.csproj
/SolitaireUndo/*.sln
/SolitaireUndo/.idea/
/SolitaireUndo/Library/
/SolitaireUndo/Logs/
/SolitaireUndo/obj/
/SolitaireUndo/Temp/
/SolitaireUndo/UserSettings/
*.csproj
